<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="vote" class="com.ravi.bean.VoterDetail" init-method="myinit" destroy-method="myDestory">
	<property name="name" value="Ravi Verma"/>
	<property name="age" value="24"/>
	<property name="address" value="Patna"/>
	</bean>
</beans>
